<h1>Edit Photo 12</h1>

<form action="/update_photo/12">
  <div>
    <label for="source_input">
      Image URL
    </label>

    <input id="source_input" type="text" name="the_source" value="https://upload.wikimedia.org/wikipedia/commons/thumb/8/80/Nasir-al_molk_-1.jpg/620px-Nasir-al_molk_-1.jpg">
  </div>

  <div>
    <label for="caption_input">
      Caption
    </label>

    <input id="caption_input" type="text" name="the_caption" value="Stained glass">
  </div>

  <button>
    Update Photo
  </button>
</form>
